
.homeContainer {
  font-family: Indie Flower, sans-serif;
  background: url('/images/herbs.jpg');
  /*\ opacity: ; */
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.product_image {
  height: auto;
  width: 100px;
  display: block;
  background-color: antiquewhite;
}

.product_name {
  font-size: 10 px;
  padding: 10px;
  background-color: rgba(231, 204, 204, 0.3);
}

.product_price {
  padding: 5px;
}

.product_description {
  position: absolute;
  transform: translate(-50%);
  color: bisque;
  font-size: 20px;
}

iframe {
  padding: 20px;
}

.homeWrapper {
  font-family: sans-serif;
  width: 70%;
  margin: 0 auto;
  transform: translate(-50%,);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 80%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.homeWrapper:hover .overlay {
  opacity: 1;
}

h1{
  padding: 10px;
}
